name: Build and deploy develop branch

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'

    - name: Install dependencies
      run: go mod tidy

    - name: Build the Go binary
      run: |
        make build test zip

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4.1.0
      with:
        aws-region: eu-north-1
        role-to-assume: arn:aws:iam::600627353779:role/iam-role-github-deployment-dev-portfolio-agent

    - name: Deploy to AWS Lambda
      run: |
        aws lambda update-function-code \
        --function-name portfolio-agent-dev-lambda-function \
        --zip-file fileb://cmd/build/function.zip
